{% extends 'Blogpost/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5"> About Page </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum impedit ratione voluptatum fugit quod error doloribus sed minus, asperiores nobis rem beatae enim pariatur maiores magni modi libero nostrum iure porro. Praesentium laboriosam placeat non veritatis, aspernatur perferendis mollitia nam tempora quibusdam possimus. Veniam corrupti voluptatem ipsum perspiciatis nemo debitis, nisi dicta dolore? Libero, accusantium iure.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, ducimus rem nobis, fugit inventore provident ullam libero voluptates maiores labore ut voluptatem accusamus reprehenderit. Obcaecati doloribus iste minus minima accusantium repellendus, modi nobis vero dolor necessitatibus vel ex ullam. Porro laborum molestias architecto omnis sit deleniti harum commodi veritatis nihil? Deleniti repudiandae velit totam veniam, officiis et quasi laboriosam ullam numquam quod provident ipsam sint?</p>
</div>

{% endblock content %}